
<div class="prefooter container mt-5">
    <footer class="container rounded bg-dark pt-2 pt-md-2 text-center">
        <div class="row">
        <div class="col-6 col-md-3">
            <h5 class="text-light">Social</h5>
            <p><a href="#" target="_blank">Twitter</a></p>
            <p><a href="#" target="_blank">Facebook</a></p>
            <p><a href="#" target="_blank">LinkedIn</a></p>
            <p><a href="#" target="_blank">Instagram</a></p>
            
        </div>
        <div class="col-6 col-md-3">
            <h5 class="text-light">Navagation</h5>
            <p><a href="#">Home</a></p>
            <p><a href="#">Blog</a></p>

            <p><a href="#">Something else</a></p>
            <p><a href="#">Profile</a></p>
        </div>

        <div class="col-12 col-md-6">
            <div class="container">
            <h5><a data-toggle="modal" data-target='#contactUsModal'><button class="btn btn-outline-primary my-2 my-sm-0">Contact Us</button></a></h5>
                {% include 'contact_us_modal.html' %}
            </div>
        </div>  

        </div>
        <p><a href="#" target="_blank">Terms and conditions</a></p>
    </footer>
</div>